.form {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.queueControl {
    display: flex;
    gap: 12px;
}

.input {
    width: 377px;
}

.circleContainer {
    margin: 0 auto;
    list-style-type: none;
    width: 944px;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    gap: 16px;
}