.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.input {
    max-width: 377px;
}

.circleContainer {
    list-style-type: none;
    margin: 0 auto;
    width: 944px;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    gap: 16px;
    row-gap: 48px;
}

.circleContainer_flexStart {
    justify-content: flex-start;
}